<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProtocolSystem</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" asp-controller="Clientes" asp-action="Index">ProtocolSystem</a>
            <div class="navbar-nav">
                <a class="nav-link" asp-controller="Clientes" asp-action="Index">Clientes</a>
                <a class="nav-link" asp-controller="Protocolos" asp-action="Index">Protocolos</a>
                <a class="nav-link" asp-controller="StatusProtocolos" asp-action="Index">Status</a>
                <a class="nav-link" asp-controller="ProtocoloFollow" asp-action="Index">Acompanhamentos</a>
                <a class="nav-link" asp-controller="Login" asp-action="Logout">Sair</a>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer class="footer">
        &copy; @DateTime.Now.Year - ProtocolSystem
    </footer>
</body>
</html>