@model StatusProtocolo

@{
    ViewData["Title"] = "Editar Status";
}

<h2 class="titulo">Editar Status</h2>

<form asp-action="Edit" method="post" class="form-model">
    <input type="hidden" asp-for="IdStatus" />
    <div class="form-group">
        <label>Nome</label>
        <input asp-for="NomeStatus" class="input-text" required />
    </div>
    <div class="form-action">
        <button type="submit" class="btn-submit" style="font-size: 15px">Salvar</button>
        <a asp-action="Index" class="btn-cancel">Cancelar</a>
    </div>
</form>
