@model List<StatusProtocolo>

@{
    ViewData["Title"] = "Status";
}

<h2 class="titulo">Lista de Status de Protocolo</h2>
<a class="btn-submit-new" asp-action="Create">Novo Status</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var statusProtocolo in Model)
        {
            <tr>
                <td>@statusProtocolo.NomeStatus</td>
                <td>
                    <a class="btn-submit-edit" asp-action="Edit" asp-route-id="@statusProtocolo.IdStatus">Editar</a>
                    <a class="btn-submit-delete" asp-action="Delete" asp-route-id="@statusProtocolo.IdStatus">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
