@model Usuario

@{
    ViewData["Title"] = "Login";
}

<h3 style="text-align: center">Tela de login está funcionando, mas foi desativado para navegação no site. [Autenticacao] está comentada nas controllers.</h3>

<div class="login-page">
    <h2 class="titulo">Bem-Vindo ao ProtocolSystem</h2>

    <form method="post" action="/Login/Autenticar" class="form-login">
        <input type="text" name="nome" placeholder="Usuário" required class="input-text" />
        <input type="password" name="senha" placeholder="Senha" required class="input-text" />
        <button type="submit" class="btn-submit">Entrar</button>
    </form>
    <p class="mensagem">@ViewBag.Mensagem</p>
</div>


