@model Protocolo

@{
    ViewData["Title"] = "Novo Protocolo";
}

<h2 class="titulo">Cadastrar Protocolo</h2>

<form asp-action="Create" method="post" class="form-model">
    <div class="form-group">
        <label>Título</label>
        <input asp-for="Titulo" class="input-text" required />
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <input asp-for="Descricao" class="input-text" required />
    </div>
    <div class="form-group">
        <label>Cliente</label>
        <select asp-for="ClienteId" class="input-text" asp-items="ViewBag.Clientes">
            <option value="" disabled selected>Selecione um cliente</option>
        </select>
    </div>
    <div class="form-group">
        <label>Status</label>
        <select asp-for="ProtocoloStatusId" class="input-text" asp-items="ViewBag.StatusProtocolos">
            <option value="" disabled selected>Selecione um status</option>
        </select>
    </div>
    <div class="form-action">
        <button type="submit" class="btn-submit" style="font-size: 15px">Salvar</button>
        <a asp-action="Index" class="btn-cancel">Cancelar</a>
    </div>
</form>
