@model Protocolo

@{
    ViewData["Title"] = "Excluir Protocolo";
}

<h2 class="titulo">Tem certeza que deseja excluir este protocolo?</h2>

<form asp-action="Delete" method="post" class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Titulo</h4>
        <p><strong>Descrição:</strong> @Model.Descricao</p>
        <p><strong>Cliente:</strong> @Model.Cliente.Nome</p>
        <p><strong>Status:</strong> @Model.ProtocoloStatus.NomeStatus</p>
    </div>
    <input type="hidden" asp-for="IdProtocolo" />
    <div class="form-action">
        <button type="submit" class="btn-submit-delete" style="font-size: 15px">Excluir</button>
        <a asp-action="Index" class="btn-cancel">Cancelar</a>
    </div>
</form>
