body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100%;
    padding: auto;
    margin: auto;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.titulo {
    margin-top: 20px;
    color: #333;
    text-align: center;
}

/* CSS Form */

.form-login {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form-model {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-action {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-busca {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

/* CSS Input */

.input-text {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.input-busca {
    width: 20em;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.mensagem {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* CSS Navbar */

.navbar {
    background-color: #343a40;
    padding: 1rem;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-nav {
    display: flex;
    gap: 1rem;
}

/* CSS Container */

.container {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

/* CSS footer */

.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* CSS Table */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 20px 10px;
    text-align: left;
}

.table th {
    background-color: #f0f0f0;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

/* CSS Card */

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 400px;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.paginacao {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CSS Button */

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.btn-submit-edit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.btn-submit-edit:hover {
    background-color: #0056b3;
}

.btn-submit-details {
    margin: 10px;
    width: 100%;
    padding: 10px;
    background-color: #ff6a00;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.btn-submit-details:hover {
    background-color: #ff5100;
}

.btn-submit-delete {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.btn-submit-delete:hover {
    background-color: darkred;
}

.btn-submit-new {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.btn-submit-new:hover {
    background-color: #0056b3;
}

.btn-cancel {
    width: 100%;
    padding: 10px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

.btn-cancel:hover {
    background-color: #5a6268;
}

.btn-busca {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-busca:hover {
    background-color: #0056b3;
}

.btn-paginacao {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-paginacao:hover {
    background-color: #0056b3;
}

.btn-ordenacao {
    text-decoration: none;
    color: black;
}
