@model ProtocoloFollow

@{
    ViewData["Title"] = "Novo Acompanhamento";
}

<h2 class="titulo">Adicionar Acompanhamento</h2>

<form asp-action="Create" method="post" class="form-model">
    <div class="form-group">
        <label>Protocolo</label>
        <select asp-for="ProtocoloId" asp-items="ViewBag.Protocolos" class="input-text" required>
            <option value="" disabled selected>Selecione um protocolo</option>
        </select>
    </div>
    <div class="form-group">
        <label>Data da Ação</label>
        <input asp-for="DataAcao" type="datetime-local" class="input-text" required />
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <textarea asp-for="DescricaoAcao" class="input-text" required></textarea>
    </div>
    <div class="form-action">
        <button type="submit" class="btn-submit" style="font-size: 15px">Salvar</button>
        <a asp-action="Index" class="btn-cancel">Cancelar</a>
    </div>
</form>
