@model ProtocoloFollow

@{
    ViewData["Title"] = "Excluir Acompanhamento";
}

<h2 class="titulo">Tem certeza que deseja excluir este acompanhamento?</h2>

<form asp-action="Delete" method="post" class="card">
    <div class="card-body">
        <h4 class="card-title">Protocolo: @Model.Protocolo.Titulo</h4>
        <p><strong>Data da Ação:</strong> @Model.DataAcao.ToString("dd/MM/yyyy HH:mm")</p>
        <p><strong>Descrição:</strong> @Model.DescricaoAcao</p>
    </div>
    <input type="hidden" asp-for="IdFollow" />
    <div class="form-action">
        <button type="submit" class="btn-submit-delete" style="font-size: 15px">Excluir</button>
        <a asp-action="Index" class="btn-cancel">Cancelar</a>
    </div>
</form>