@model ProtocoloFollow

@{
    ViewData["Title"] = "Editar Acompanhamento";
}

<h2 class="titulo">Editar Acompanhamento</h2>

<form asp-action="Edit" method="post" class="form-model">
    <input type="hidden" asp-for="IdFollow" />
    <div class="form-group">
        <label>Protocolo</label>
        <select asp-for="ProtocoloId" asp-items="ViewBag.ProtocoloList" class="input-text" required></select>
    </div>
    <div class="form-group">
        <label>Data da Ação</label>
        <input asp-for="DataAcao" type="datetime-local" class="input-text" required />
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <textarea asp-for="DescricaoAcao" class="input-text" required></textarea>
    </div>
    <div class="form-action">
        <button type="submit" class="btn-submit" style="font-size: 15px">Salvar</button>
        <a asp-action="Index" class="btn-cancel">Cancelar</a>
    </div>
</form>
