@model Cliente

@{
    ViewData["Title"] = "Excluir Cliente";
}

<h2 class="titulo">Tem certeza que deseja excluir este cliente?</h2>

<form asp-action="Delete" method="post" class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Nome</h4>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Telefone:</strong> @Model.Telefone</p>
        <p><strong>Endereço:</strong> @Model.Endereco</p>
    </div>
    <input type="hidden" asp-for="IdCliente" />
    <div class="form-action">
        <button type="submit" class="btn-submit-delete" style="font-size: 15px">Excluir</button>
        <a asp-action="Index" class="btn-cancel">Cancelar</a>
    </div>
</form>